<template>
  <div v-if="!getIsFetching"> 
    <!-- Displaying current question / amount of questions -->
    <h4>{{questionI +1}}/{{getAmount}}</h4>
    <h4>Score: {{getScore}} / {{(questionI +1)*10}}</h4>
    <div>
      <h2 v-html="question.question"  class="question"></h2>
    </div>

    <div class="button-grid">
      <button v-html="question.answers[0]" @click="selectAnswer(question.answers[0])" class="answer-card button"></button>
      <button v-html="question.answers[1]" @click="selectAnswer(question.answers[1])" class="answer-card button" v-bind:class="question.type == 'boolean'? 'false-btn':''"></button>
      <!-- Shows if question is multiple -->   
      <button v-if="(question.type == 'multiple')" v-html="question.answers[2]" @click="selectAnswer(question.answers[2])" class="answer-card button"></button>
      <button v-if="(question.type == 'multiple')" v-html="question.answers[3]" @click="selectAnswer(question.answers[3])" class="answer-card button"></button>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'

export default {
  created(){
    //Fetches the questions.
    this.retrieveQuestions();
  },
  
  mounted(){
    //Redirects to startPage if amount isn't set. For example when writing the url
    if(this.getAmount == ""){
      this.$router.push("/");
    }
  },
  
  methods:{
    ...mapActions(['retrieveQuestions',]),
    ...mapMutations(['scoreUp', 'addAnswer']),

    //Pushes an object with the answer and boolean to store array for all answers
    selectAnswer(answer){
      if(answer == this.question.correct_answer){
          this.scoreUp();
          this.addAnswer({a: answer, correct: true});
      }
      else{
          this.addAnswer({a: answer, correct: false});
      }
      this.questionI++;
      //redirects when all the questions have been answered.
      if(this.questionI == this.getAmount){
          console.log("ready to show results ;D");
          this.$router.push("/results");
      }
    }
  },
  computed:{
    ...mapGetters(['getQuestions', 'getIsFetching', 'getAmount', 'getScore', 'getAnswers']),
    question(){
      if(this.getQuestions.length > this.questionI){
        return this.getQuestions[this.questionI];
      }
      return {};
    },
    
 },

  data(){
    return{
      //variable to keep track of current question index
      questionI: 0,
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .question{
    max-width: 700px;
    min-height: 100px;
    margin: 0 auto 30px auto;
  }
  
  .answer-card{
    width: 150px;
    height: 100px;
  }

  .false-btn {
    background-color: lightcoral;
  }

</style>