<template>
    <div>
        <h1>Finished :D</h1>
        <h3>You got {{getScore}}/{{getAmount *10}} points!</h3>
        <h3>All answers:</h3>
        <div v-for="question of getQuestions" :key="question.id" class="question-card">
            <h4 v-html="question.question"/>
            <div>
                <h4>
                Answer: 
                <span v-html="question.correct_answer"/>
                </h4>
            </div>
            <div>
                <h4> You answered:
                <span v-html="getAnswers[question.id].a" v-bind:class="setClass(getAnswers[question.id].correct)" />
                </h4>
            </div>
        </div>
        <!-- Redirects user to wanted page -->
        <div class="button-grid">
            <button @click="$router.push('/')" class="redirect-btn button">Home</button> 
            <button @click="$router.push('/question')" class="redirect-btn button">Start again</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        //Redirects to startPage if amount isn't set. For example when writing the url
         mounted(){
            if(this.getAmount == ""){
            this.$router.push("/");
            }
        },

        methods: {
            //function to give the answers correct styling based on if the user answered correct
            setClass(correct){
                if(correct){
                    return 'correct-answer';
                }
                return 'wrong-answer'
            },
        },

        computed: {
            ...mapGetters(['getQuestions', 'getScore', 'getAmount', 'getAnswers']),
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .question-card{
        background-color: lightblue;
        font-size: 20px;
        padding: 10px 30px;
        margin: 25px auto;
        max-width: 700px;
        border-radius: 20px;
        box-shadow: 10px 10px 5px #9ecadb;
    }

    .correct-answer{
        color: green;
    }

    .wrong-answer{
        color: red;
    }
    
    .redirect-btn{ 
        width: 100px;
        height: 40px;
    }

</style>