<template>
  <div class="start-page">
    <h1>Trivia Game</h1>
      <form @submit.capture="startGame" class="start-game-form">
        <!-- The levels of difficulties -->
       
          <select class="grid-element" id="difficulties" v-model=selectedDifficulty>
          <option value="">Choose difficulty</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      
        <p>Enter the number of questions</p>
        <input class="grid-element" id="amount" type="number" min=1 max=50 v-model=numQuestions />
        <!-- Add every category name to the select -->
       
            <select class="grid-element" id="category" v-model=selectedCategory>
              <option v-if='getIsFetching' value="">...Loading</option>
              <option v-if='!getIsFetching' value="">Choose category</option>
              <option v-for="category of getCategories" :key="category.id" :value="category.id">
                {{ category.name }}
              </option>
            </select>
        
          <button  class="grid-element" type="submit">Start game</button>
      </form>
    
    <h4 v-show="error">{{ eMessage }}</h4>

  </div>
  
</template>

<script>

import {mapActions, mapGetters, mapMutations } from 'vuex'

export default {
  name: 'StartPage',
  props: {
    
  },
  mounted(){
    //Fetches categories on mounting
    this.retrieveCategories();
  },
  methods: {
    ...mapActions(['retrieveCategories']),
    ...mapMutations(['setDifficulty', 'setAmount', 'setCategory']),
    //if user has selected all the needed elements they will be routered to the questions.
    startGame(){
      if(this.selectedDifficulty == ""){
        this.eMessage = "You have to select a difficulty";
        this.error = true;
      }
      else if(isNaN(this.numQuestions) || this.numQuestions < 1 || this.numQuestions > 50){
        this.eMessage = "You have to write a number from 1 to 50";
        this.error = true;
      }
      else if(this.selectedCategory == ""){
        this.eMessage = "You have to select a category";
        this.error = true;  
      }
      else{
        this.error = false;
        this.setDifficulty(this.selectedDifficulty);
        this.setAmount(this.numQuestions);
        this.setDifficulty(this.selectedDifficulty);
      
        this.$router.push('/question');
      }
    }
 
  },
  computed:{
    ...mapGetters(['getCategories', 'getIsFetching'])
  },
  data() {
    return {
      numQuestions: "",
      selectedDifficulty: "",
      selectedCategory: "",
      error: false,
      eMessage: ""
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .start-page{
    display:flex;
    flex-direction: column;
  }

  .start-game-form{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
  }

  .grid-element{
    margin: 10px; 
    border-radius: 10px;
    padding: 4px;
    background-color: white;
  }

</style>
