@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

h1,
h2,
h3,
h4,
p,
input,
button,
select {
  font-family: "Klee One";
  color: black;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  margin: 0 auto;
}

.button {
  font-size: 100%;
  background-color: lightgreen;
  margin: 0 10px 20px 10px;
}
